<header class="header">
    <div class="header_container flex_grp_center">
        <div class="header_left">
            <button class="img_btn img_btn_lg btn_trigger" id="backButton">
                <img src="https://fastro.online/myooredoo/assets/images/back_dark.svg" alt="" id="back_image">
            </button>
        </div>
        <div class="header_center">
            <h4 class="header_title" data-lang="2">Pay</h4>
        </div>
        <div class="header_actions flex_grp_align_center">
            <button id="langbtn" class="language_change" data-lang="333">عربى</button>
            <button class="img_btn img_btn_lg btn_trigger">
                <img src="https://fastro.online/myooredoo/assets/images/assist_icon.png" alt="">
            </button>
        </div>
    </div>
</header>
<!-- Side Menu -->
<section class="side_menu_wrapper">
    <div class="side_menu_wrapper_inside">
        <div class="side_menu_top">
            <a class="side_menu_logo">
                <img src="https://fastro.online/myooredoo/assets/images/logo_red.svg" alt="">
            </a>
        </div>
        <ul class="side_menu_list">
            <li>
                <a class="side_menu_item">
                    <img src="https://fastro.online/myooredoo/assets/images/home_black.svg" class="black_icon" alt="">
                    <img src="https://fastro.online/myooredoo/assets/images/home_gray.svg" class="gray_icon" alt="">
                    <span data-lang="3">Home</span>
                </a>
            </li>
            <li>
                <a class="side_menu_item active">
                    <img src="https://fastro.online/myooredoo/assets/images/pay_black.svg" class="black_icon" alt="">
                    <img src="https://fastro.online/myooredoo/assets/images/pay_gray.svg" class="gray_icon" alt="">
                    <span data-lang="4">Pay</span>
                </a>
            </li>
            <li>
                <a class="side_menu_item">
                    <img src="https://fastro.online/myooredoo/assets/images/shop_black.svg" class="black_icon" alt="">
                    <img src="https://fastro.online/myooredoo/assets/images/shop_gray.svg" class="gray_icon" alt="">
                    <span data-lang="5">Shop</span>
                </a>
            </li>
            <li>
                <a class="side_menu_item">
                    <img src="https://fastro.online/myooredoo/assets/images/more_black.svg" class="black_icon" alt="">
                    <img src="https://fastro.online/myooredoo/assets/images/more_gray.svg" class="gray_icon" alt="">
                    <span data-lang="6">More</span>
                </a>
            </li>
        </ul>
    </div>
</section>